<div class="text-center">
    <h2 class="text-danger">
        Access denied
    </h2>
    <h5 class="text-danger">you dont have permission to access this resource</h5>
    <img src="~/Images/Access-Denied.jpg" style="width:300px;height:300px" />
</div>
